[Unit]
Description=Temperature Logging Service
Documentation=https://github.com/samstevenm/temp-logger
Wants=templog.timer

[Service]
ExecStart=/usr/bin/templog
WorkingDirectory=/home/pi/templog/

[Install]
WantedBy=multi-user.target
